.header {   
    overflow: hidden;
    position: absolute;
    top: 0;
    margin-bottom: 70px;
    z-index: 99;
    width: 99%;
    height: 60px;
    background-color: rgba(226,226,226,1) !important;
}

.nav-btn {
    margin-top: 12px;
    margin-left: 10px;
}