<mat-card class="card">
  <mat-card-title>
    Mqtt Configuration
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="configurationForm">
      <mat-form-field class="form-field">
        <input matInput placeholder="Broker Address" [(ngModel)]="broker.brokerAddress" formControlName="mqttBrokerAddress"/>
        <mat-hint>Insert Broker Address</mat-hint> 
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Broker Port" [(ngModel)]="broker.brokerPort" formControlName="mqttBrokerPort"/>
        <mat-hint>Insert Broker Port</mat-hint> 
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Client ID" [(ngModel)]="broker.clientId" formControlName="mqttClientID"/>
        <mat-hint>Insert Client Id</mat-hint> 
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Broker User" [(ngModel)]="broker.brokerUser" formControlName="mqttBrokerUser"/>
        <mat-hint>Insert Broker User</mat-hint> 
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Broker Password" [(ngModel)]="broker.brokerPassword" formControlName="mqttBrokerPassword"/>
        <mat-hint>Insert Broker Password</mat-hint> 
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-select placeholder="Broker Protocol" [(ngModel)]="broker.protocol" formControlName="mqttBrokerProtocol">
          <mat-option *ngFor="let proto of protocol" value="{{proto}}">
            {{ proto }}
          </mat-option>
        </mat-select>
        <mat-hint>Insert Broker Protocol</mat-hint>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-select placeholder="QoS" [(ngModel)]="broker.qos" formControlName="mqttQos">
          <mat-option value="0">
            0
          </mat-option>
          <mat-option value="1">
            1
          </mat-option>
          <mat-option value="2">
            2
          </mat-option>
        </mat-select>
        <mat-hint>Insert QoS type</mat-hint> 
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
   <span  class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Save broker config" color="primary" (click)="saveBrokerConfig()"><mat-icon class="icon-text" fontSet="far" fontIcon="fa-save"></mat-icon>Save</button></span>
   <span  class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Connect to the broker server" color="primary" (click)="connectBroker()"><mat-icon class="icon-text" fontSet="fas" fontIcon="fa-play"></mat-icon>Connect</button></span>
   <span  class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Disconnect from the broker server" color="warn" (click)="disconnectBroker()"><mat-icon class="icon-text" fontSet="fas" fontIcon="fa-stop"></mat-icon>Disconnect</button></span>
   <span  class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Delete saved broker configuration" color="warn" (click)="openDialog(mqttConfig)"><mat-icon class="icon-text" fontSet="far" fontIcon="fa-trash-alt"></mat-icon>Delete</button></span>
  </mat-card-actions>
</mat-card>
<mat-card class="card">
  <mat-card-title>
    Subscribtion
  </mat-card-title>
  <mat-card-content>
    <span>
      <form [formGroup]="topicForm">
        <mat-form-field class="form-field">
          <input matInput placeholder="Topic" [(ngModel)]="subscribeTo.topics[0]" formControlName="topicSubscribed"/>
          <mat-hint>Insert Topic to subscribe</mat-hint> 
        </mat-form-field>
      </form>
    </span> 
    <span>
      
    </span>
    <mat-card-actions>
     <span  class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Save topic" color="primary" (click)="saveTopic()"><mat-icon class="icon-text" fontSet="far" fontIcon="fa-save"></mat-icon>Save</button></span>
     <span  class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Subscribe to the selected topic" color="primary" (click)="subscribeTopic()" (click)="drawer.open()"><mat-icon class="icon-text" fontSet="fas" fontIcon="fa-sign-in-alt"></mat-icon>Subscribe</button></span>
     <span  class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Clear proto buffer" color="primary" (click)="clearBuffer()"><mat-icon class="icon-text" fontSet="fas" fontIcon="fa-eraser"></mat-icon>Clear</button></span>
     <span  class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Unsubscribe from selected topic" color="warn" (click)="unsubscribeTopic()" (click)="drawer.close()"><mat-icon class="icon-text" fontSet="fas" fontIcon="fa-sign-out-alt"></mat-icon>Unsubscribe</button></span>
     <span  class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Delete saved topic" color="warn" (click)="openDialog(topicFile)"><mat-icon class="icon-text" fontSet="far" fontIcon="fa-trash-alt"></mat-icon>Delete</button></span>
      <mat-drawer-container class="example-container">
        <mat-drawer class="drawer" #drawer>
          <perfect-scrollbar>      
            <mat-list>
              <mat-list-item  *ngFor="let message of messages; let in = index">
              <span  class="buttons"> <button class="btn-cripto" mat-button class="topic" (click)="openMessage(in)"><mat-icon class="icon-text" fontSet="far" fontIcon="fa-envelope"></mat-icon>{{ in }} :   {{ message.topic }} </button></span>
              </mat-list-item>
            </mat-list>
          </perfect-scrollbar>
        </mat-drawer>
      </mat-drawer-container>

    </mat-card-actions>
  </mat-card-content>
  
</mat-card>

<mat-card class="card">
  <mat-card-title>
    {{ focussedMessage.topic ? focussedMessage.topic : 'Click on a topic to show the message here' }}
  </mat-card-title>
  <mat-card-content>
    <mat-card-subtitle class="subtitle">
      Protobuff info: 
    </mat-card-subtitle>

    <form [formGroup]="protoForm">
      <mat-form-field class="form-field">
        <input matInput placeholder="Protobuf Path" [(ngModel)]="proto.protobufPath" formControlName="protobufPath"/>
        <mat-hint>Insert here the path where proto files are</mat-hint> 
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Protobuf File Name" [(ngModel)]="proto.protobufFile" formControlName="protobufFile"/>
        <mat-hint>Insert here the proto file name</mat-hint> 
      </mat-form-field>

      <mat-form-field class="form-field">
          <input matInput placeholder="Protobuf Package" [(ngModel)]="proto.protobufPackage" formControlName="protoPackage"/>
          <mat-hint>Insert here the package</mat-hint> 
        </mat-form-field>
  
        <mat-form-field class="form-field">
          <input matInput placeholder="Protobuf Message" [(ngModel)]="proto.protobufMessage" formControlName="protoMessage"/>
          <mat-hint>Insert here the proto message type</mat-hint> 
        </mat-form-field>
    </form>

    <mat-card-subtitle class="subtitle">
      Message:
    </mat-card-subtitle>
    <span class="messages">
      <pre id="focussed-message">{{ focussedMessage.message }}</pre>
    </span>
  </mat-card-content>
  <mat-card-actions>
    <span class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Save proto info" color="primary" (click)="saveProto()"><mat-icon class="icon-text" fontSet="far" fontIcon="fa-save"></mat-icon>Save</button></span>
    <span class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Clear selected message" color="primary" (click)="removeMessage()"><mat-icon class="icon-text" fontSet="fas" fontIcon="fa-eraser"></mat-icon>Clear</button></span>
    <span class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Delete saved proto info" color="warn" (click)="openDialog(protoFile)"><mat-icon class="icon-text" fontSet="far" fontIcon="fa-trash-alt"></mat-icon>Delete</button></span>
    <span class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Convert to Hex proto message" color="accent" (click)="toHex()"><mat-icon class="icon-text" fontSet="fas" fontIcon="fa-exchange-alt"></mat-icon>Hex</button></span>
    <span class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Convert to string proto message" color="accent" (click)="toStrings()"><mat-icon class="icon-text" fontSet="fas" fontIcon="fa-exchange-alt"></mat-icon>String</button></span>
    <span class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Convert to json proto message" color="accent" (click)="toJson()"><mat-icon class="icon-text" fontSet="fas" fontIcon="fa-exchange-alt"></mat-icon>Json</button></span>
    <span class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Copy message to clipboard" color="accent" (click)="copyMessage(focussedMessage.message)"><mat-icon class="icon-text" fontSet="far" fontIcon="fa-copy"></mat-icon>Copy</button></span>
  </mat-card-actions>
</mat-card>

<mat-card class="card">
  <mat-card-title>
    Mqtt Publisher
  </mat-card-title>
  <mat-card-content>
    <mat-card-subtitle>
      Insert below, the topic, the message and the proto file to encode your message
    </mat-card-subtitle>
    <form [formGroup]="publishForm">
      <mat-form-field class="form-field">
        <input matInput placeholder="Protobuf Path" [(ngModel)]="proto.protobufPath" formControlName="publishProtoPath"/>
        <mat-hint>Insert here the path where proto files are</mat-hint> 
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Protobuf File Name" [(ngModel)]="proto.protobufFile" formControlName="publishProtoFile"/>
        <mat-hint>Insert here the proto file name</mat-hint> 
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Protobuf Package" [(ngModel)]="proto.protobufPackage" formControlName="publishProtoPack"/>
        <mat-hint>Insert here the package</mat-hint> 
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Protobuf Message" [(ngModel)]="proto.protobufMessage" formControlName="publishProtoMess"/>
        <mat-hint>Insert here the proto message type</mat-hint> 
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Topic" [(ngModel)]="subscribeTo.topics[0]" formControlName="publishTopic"/>
        <mat-hint>Insert Topic where publish</mat-hint> 
      </mat-form-field>
      <mat-form-field class="form-field">
          <mat-select placeholder="QoS" [(ngModel)]="publishingQos" formControlName="publishQos">
            <mat-option value="0">
              0
            </mat-option>
            <mat-option value="1">
              1
            </mat-option>
            <mat-option value="2">
              2
            </mat-option>
          </mat-select>
          <mat-hint>Insert QoS type. If no one selected, default is 0</mat-hint> 
        </mat-form-field>
      <span class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Publish message" color="primary" (click)="publishingMessage ? publish() : showSnackBar('No message selected')"><mat-icon class="icon-text" fontSet="far" fontIcon="fa-share-square"></mat-icon>Publish as Proto</button></span>
      <span class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Publish message" color="primary" (click)="publishingMessage ? publishHex() : showSnackBar('No message selected')"><mat-icon class="icon-text" fontSet="far" fontIcon="fa-share-square"></mat-icon>Publish as Hex</button></span>
      <span class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Publish message" color="primary" (click)="publishingMessage ? publishString() : showSnackBar('No message selected')"><mat-icon class="icon-text" fontSet="far" fontIcon="fa-share-square"></mat-icon>Publish as String</button></span>
      <span class="buttons"> <button class="btn-cripto" mat-raised-button matTooltip="Clean text area" color="accent" (click)="cleanTextArea()"><mat-icon class="icon-text" fontSet="fas" fontIcon="fa-eraser"></mat-icon>Clear</button></span>
      <mat-form-field class="form-field-text-area" appearance="outline">
        <mat-label>Write here your message</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="5"
                  class="textarea"
                  id="publish-text-area"
                  [(ngModel)]="publishingMessage" 
                  formControlName="publishMessage"
          ></textarea>
        <mat-hint>Insert Message to publish. Remember, if you are using an enum, insert the index of the value.</mat-hint> 
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>