.divider {
    margin-top:15px;
    margin-bottom:15px;
    margin:0 auto;
    display: block;
    margin-left:15%;
    margin-right: 15%;
    width: 70% !important;
}

.card {
    margin-top:90px;
}

.second-card {
    margin-top: 30px;
}

.example-container {
    width: 96%;
    height: 300px;
    margin: 10px;
    border: 1px solid #555;
}

.drawer {
    width: 100%;
}