.divider {
    margin-top:200px;
    margin-bottom:15px;
    margin:0 auto;
    display: block;
    margin-left:15%;
    margin-right: 15%;
    width: 70% !important;
}

.card {
    margin-top:90px;
    margin-left: 10px;
    margin-right: 10px;
}

.second-card {
    
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

.example-container {
    width: 96%;
    height: 300px;
    margin: 10px;
    border: 1px solid #555;
}

.drawer {
    width: 100%;
}

.form-field {
    margin: 3px;
}

.topic {
    margin-top: 30px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}